.hero-image {
    height: 40vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    box-shadow: 0px 3px 10px #669bbc;
}

.heading-text {
    letter-spacing: 1px;
    text-decoration: underline;
}

.released {
    margin-bottom: 2rem;
    font-weight: bold;
}

.description {
    letter-spacing: .75px;
}

.description p {
    margin-bottom: 10px
}

.price {
    font-size: 2rem;
    font-weight: bold;
}

.add-to-cart {
    border: none;
    font-size: 1.25rem;
    background-color: #669bbc;
    color: #fdf0d5;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .3s;
}

.add-to-cart:hover {
    transform: scale(1.03);
    color: #003049
}

.add-to-cart:active {
    transform: scale(.98);
}