.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fdf0d5;
    transform: translate(-3rem, 1rem);
}

.dropdown-menu button {
    padding: 1rem 2rem;
    margin-inline: 0;
    color: #003049;
}

.dropdown-menu button:hover {
    background-color: #003049;
    color: #fdf0d5;
}