.nav-bar {
    background-color: #669bbc;
    color: #fdf0d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-shadow: 0px 3px 5px  #003049;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.nav-bar p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-bar p i {
    color: #003049;
    margin-left: .5rem;
}

.nav-link-container {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 .5rem;
    text-decoration: none;
    color: #fdf0d5;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
}

.nav-link:hover {
    color: #003049
}

.nav-link i {
    margin-right: .75rem;
}

.cart-link div {
    display: inline;
}

.cart-count {
    background-color: #c1121f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -.75rem;
    text-decoration: none;
    padding-inline: .5rem;
    border-radius: 50%;
}